/*fonte*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Reddit+Mono:wght@200..900&display=swap');

/*global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

html {
    scroll-behavior: smooth;  
}

body {
    font-family: "Reddit Mono", monospace;
}

/*estilização*/

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
}

@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container {
    width: min(450px, 90%);
    background: #8292bb;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0 ,0 ,0.3) 0px 30px 60px -30px;
}

.container p {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
    color: #fff;
    border-bottom: 1px solid #000;
}

.wrapper {
    margin: 1.25rem 1.75rem;
}

.wrapper .input-box {
    position: relative;
}

.input-box input {
    width: 83%;
    height: 53px;
    color: #fff;
    background: #858bb2;
    font-size: 1.06rem;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #000;
    padding: 0 2.85rem 0 1rem;
}

.input-box span {
    position: absolute;
    right: 1px;
    cursor: pointer;
    line-height: 53px;
    color: #000;
}

.input-box span:hover {
    color: #46495e !important;
}

.wrapper .pass-settings {
    margin: 1.56rem 0 1.25rem;
}

.pass-settings .options {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.pass-settings .options .option {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
}

.options .option:first-child input {
    opacity: 0.7;
}

.options .option input {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label {
    cursor: pointer;
    color: #000;
    padding-left: 0.63rem;
}

.pass-settings input[type="checkbox"] {
    accent-color: #46496e;
}

.wrapper .generate-btn {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #46496e;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}

.wrapper .generate-btn:hover {
    background: #46495e;
}

@media only screen and (max-width: 768px) {

   .content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw; 
      height: 100vh;
      margin: 0; 
      padding: 20px; 
    }

    .input-box span {
        right: -22px;
    }
}
